/* Navbar.css */

.navbar {
  /* background-color: rgb(217, 135, 149) !important; */
  background: linear-gradient(135deg, #e54d27, #ed934e)  !important;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  position:sticky;
  top: 0px;
}

.navbar-brand {
  color: #fff !important;
  font-size: 1.6rem;
  font-weight: bold;
}

/* Hides navbar when scrolling down */
.navbar-container {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: transform 0.4s ease-in-out;
}

.navbar-container.hide {
  transform: translateY(-100%);
}

.navbar-container.show {
  transform: translateY(0);
}

.navbar-brand b:hover {
  color:#f8f855;
} 

/* .navbar-brand span:hover {
  color: #d02d05;;
}  */

.navbar-brand span {
  color:#ff7e5f; 
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: 500;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #f8f855 !important;
  text-decoration:solid;

}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Mobile view */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-item {
    margin: 10px 0;
  }
}