
body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(7, 91, 195);
}

/* Container for Login, Register, and Home */
.auth-container {
  background-image: url(https://plus.unsplash.com/premium_photo-1712820624934-cb9ccf72a51d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI1fHxsb2dpbiUyMHBhZ2UlMjByZWNpcGV8ZW58MHx8MHx8fDA%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
  padding: 20px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 margin-bottom: 20px;
}


.auth-container h2 {
  color: rgb(14, 255, 66);
  text-shadow: rgb(252, 252, 252);
  text-decoration: underline;
  font-size: 2rem;

}

.auth-container p{
  color: rgb(255, 255, 255);
  text-shadow: rgb(252, 252, 252);
}

.form-group label{
  color: rgb(74, 14, 255);
}

/* Input Fields */
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
